@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar_link {
  position: relative; /* To position the ::after element correctly */
}

.navbar_link:hover {
  color: #ff8f9c;
  transition: all 0.4s;
}

.navbar_link::after {
  position: absolute;
  content: "";
  background-color: #ff8f9c;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}

.navbar_link:hover::after {
  scale: 1; /* Correct syntax for scaling */
}

.group:hover img {
  transform: scale(1.7); /* Increase scale for more zoom */
  transition: transform 0.5s ease; /* Smooth transition */
}
